USE [master]
GO
/****** Object:  Database [EduPathDb]    Script Date: 7/10/2026 9:06:58 PM ******/
CREATE DATABASE [EduPathDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EduPathDb', FILENAME = N'C:\Users\OS\EduPathDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EduPathDb_log', FILENAME = N'C:\Users\OS\EduPathDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EduPathDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EduPathDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/10/2026 9:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnswerCareerWeights]    Script Date: 7/10/2026 9:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnswerCareerWeights](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RecommendationAnswerId] [int] NOT NULL,
	[CareerId] [int] NOT NULL,
	[Weight] [int] NOT NULL,
 CONSTRAINT [PK_AnswerCareerWeights] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 7/10/2026 9:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 7/10/2026 9:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 7/10/2026 9:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 7/10/2026 9:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 7/10/2026 9:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 7/10/2026 9:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[AvatarUrl] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UserType] [int] NULL,
	[MainGoal] [int] NULL,
	[FieldId] [int] NULL,
	[IsOnboardingCompleted] [bit] NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 7/10/2026 9:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Careers]    Script Date: 7/10/2026 9:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Careers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[FieldId] [int] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Responsibilities] [nvarchar](max) NOT NULL,
	[MinSalary] [decimal](18, 2) NOT NULL,
	[MaxSalary] [decimal](18, 2) NOT NULL,
	[DemandLevel] [nvarchar](max) NOT NULL,
	[IconUrl] [nvarchar](max) NOT NULL,
	[PopularityScore] [int] NOT NULL,
 CONSTRAINT [PK_Careers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CareerSubjects]    Script Date: 7/10/2026 9:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CareerSubjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CareerId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[Priority] [int] NOT NULL,
	[Reason] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_CareerSubjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fields]    Script Date: 7/10/2026 9:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fields](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Fields] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LearningAnswers]    Script Date: 7/10/2026 9:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LearningAnswers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[IsCorrect] [bit] NOT NULL,
	[Explanation] [nvarchar](max) NULL,
	[LearningQuestionId] [int] NOT NULL,
 CONSTRAINT [PK_LearningAnswers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LearningQuestions]    Script Date: 7/10/2026 9:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LearningQuestions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Explanation] [nvarchar](max) NULL,
	[Hint] [nvarchar](max) NULL,
	[Difficulty] [int] NOT NULL,
	[TopicId] [int] NOT NULL,
 CONSTRAINT [PK_LearningQuestions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LearningUserAnswers]    Script Date: 7/10/2026 9:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LearningUserAnswers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[LearningQuestionId] [int] NOT NULL,
	[LearningAnswerId] [int] NOT NULL,
	[IsCorrect] [bit] NOT NULL,
	[Score] [int] NOT NULL,
	[AnsweredAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_LearningUserAnswers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizCareerRecommendations]    Script Date: 7/10/2026 9:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizCareerRecommendations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[QuizId] [int] NOT NULL,
	[CareerId] [int] NOT NULL,
	[MatchPercentage] [float] NOT NULL,
	[AiExplanation] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_QuizCareerRecommendations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quizzes]    Script Date: 7/10/2026 9:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quizzes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](450) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[SubjectId] [int] NULL,
	[FieldId] [int] NULL,
	[DurationMinutes] [int] NOT NULL,
 CONSTRAINT [PK_Quizzes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecommendationAnswers]    Script Date: 7/10/2026 9:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecommendationAnswers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[RecommendationQuestionId] [int] NOT NULL,
 CONSTRAINT [PK_RecommendationAnswers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecommendationQuestions]    Script Date: 7/10/2026 9:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecommendationQuestions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[QuizId] [int] NOT NULL,
 CONSTRAINT [PK_RecommendationQuestions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecommendationUserAnswers]    Script Date: 7/10/2026 9:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecommendationUserAnswers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[QuizId] [int] NOT NULL,
	[RecommendationQuestionId] [int] NOT NULL,
	[RecommendationAnswerId] [int] NOT NULL,
	[AnsweredAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_RecommendationUserAnswers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 7/10/2026 9:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Token] [nvarchar](450) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[RevokedAt] [datetime2](7) NULL,
	[ReplacedByToken] [nvarchar](max) NULL,
	[DeviceInfo] [nvarchar](max) NULL,
 CONSTRAINT [PK_RefreshTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 7/10/2026 9:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Subjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topics]    Script Date: 7/10/2026 9:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topics](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[SubjectId] [int] NOT NULL,
	[DifficultyLevel] [int] NOT NULL,
 CONSTRAINT [PK_Topics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLearningPaths]    Script Date: 7/10/2026 9:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLearningPaths](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[CareerId] [int] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserLearningPaths] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProgresses]    Script Date: 7/10/2026 9:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProgresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[TopicId] [int] NOT NULL,
	[CompletionPercentage] [int] NOT NULL,
	[LastAccessedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserProgresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260710084530_InitDatabase', N'9.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260710091742_initnewdb', N'9.0.0')
GO
SET IDENTITY_INSERT [dbo].[AnswerCareerWeights] ON 

INSERT [dbo].[AnswerCareerWeights] ([Id], [RecommendationAnswerId], [CareerId], [Weight]) VALUES (1, 1, 1, 5)
INSERT [dbo].[AnswerCareerWeights] ([Id], [RecommendationAnswerId], [CareerId], [Weight]) VALUES (2, 1, 2, -2)
INSERT [dbo].[AnswerCareerWeights] ([Id], [RecommendationAnswerId], [CareerId], [Weight]) VALUES (3, 1, 5, 3)
SET IDENTITY_INSERT [dbo].[AnswerCareerWeights] OFF
GO
SET IDENTITY_INSERT [dbo].[Careers] ON 

INSERT [dbo].[Careers] ([Id], [Code], [Name], [FieldId], [Description], [Responsibilities], [MinSalary], [MaxSalary], [DemandLevel], [IconUrl], [PopularityScore]) VALUES (1, N'FRONTEND_DEV', N'Lập Trình Viên Frontend', 1, N'Phát triển giao diện web/app, tạo trải nghiệm người dùng', N'Thiết kế và phát triển UI/UX, làm việc với HTML/CSS/JavaScript, tích hợp API', CAST(15000000.00 AS Decimal(18, 2)), CAST(35000000.00 AS Decimal(18, 2)), N'High', N'/icons/frontend.png', 90)
INSERT [dbo].[Careers] ([Id], [Code], [Name], [FieldId], [Description], [Responsibilities], [MinSalary], [MaxSalary], [DemandLevel], [IconUrl], [PopularityScore]) VALUES (2, N'BACKEND_DEV', N'Lập Trình Viên Backend', 1, N'Phát triển server, API, database, xử lý logic phía sau', N'Thiết kế kiến trúc server, phát triển API, quản lý database, tối ưu performance', CAST(18000000.00 AS Decimal(18, 2)), CAST(40000000.00 AS Decimal(18, 2)), N'High', N'/icons/backend.png', 85)
INSERT [dbo].[Careers] ([Id], [Code], [Name], [FieldId], [Description], [Responsibilities], [MinSalary], [MaxSalary], [DemandLevel], [IconUrl], [PopularityScore]) VALUES (3, N'DATA_SCIENTIST', N'Data Scientist', 1, N'Phân tích dữ liệu, xây dựng model machine learning, AI', N'Thu thập và làm sạch dữ liệu, xây dựng model ML, phân tích insight, visual data', CAST(25000000.00 AS Decimal(18, 2)), CAST(50000000.00 AS Decimal(18, 2)), N'VeryHigh', N'/icons/datascience.png', 80)
SET IDENTITY_INSERT [dbo].[Careers] OFF
GO
SET IDENTITY_INSERT [dbo].[CareerSubjects] ON 

INSERT [dbo].[CareerSubjects] ([Id], [CareerId], [SubjectId], [Priority], [Reason]) VALUES (1, 1, 1, 1, N'Cần thiết để hiểu logic code')
INSERT [dbo].[CareerSubjects] ([Id], [CareerId], [SubjectId], [Priority], [Reason]) VALUES (2, 1, 4, 1, N'Core skill cho frontend')
INSERT [dbo].[CareerSubjects] ([Id], [CareerId], [SubjectId], [Priority], [Reason]) VALUES (3, 1, 5, 2, N'Giúp tổ chức code tốt hơn')
SET IDENTITY_INSERT [dbo].[CareerSubjects] OFF
GO
SET IDENTITY_INSERT [dbo].[Fields] ON 

INSERT [dbo].[Fields] ([Id], [Code], [Name], [Description]) VALUES (1, N'CNTT', N'CNTT - Công Nghệ Thông Tin', N'Lĩnh vực công nghệ thông tin, lập trình, AI, data science')
INSERT [dbo].[Fields] ([Id], [Code], [Name], [Description]) VALUES (2, N'MARKETING', N'Marketing - Tiếp Thị', N'Digital marketing, branding, content marketing')
INSERT [dbo].[Fields] ([Id], [Code], [Name], [Description]) VALUES (3, N'KINH_TE', N'Kinh Tế - Tài Chính', N'Tài chính, ngân hàng, đầu tư, kế toán')
SET IDENTITY_INSERT [dbo].[Fields] OFF
GO
SET IDENTITY_INSERT [dbo].[Quizzes] ON 

INSERT [dbo].[Quizzes] ([Id], [Code], [Title], [Description], [SubjectId], [FieldId], [DurationMinutes]) VALUES (1, N'QUIZ_CNTT', N'Trắc Nghiệm Định Hướng Nghề CNTT', N'Khám phá nghề nghiệp phù hợp với bạn trong lĩnh vực CNTT', 1, 1, 15)
INSERT [dbo].[Quizzes] ([Id], [Code], [Title], [Description], [SubjectId], [FieldId], [DurationMinutes]) VALUES (2, N'QUIZ_MARKETING', N'Trắc Nghiệm Định Hướng Nghề Marketing', N'Khám phá nghề nghiệp phù hợp với bạn trong lĩnh vực Marketing', 1, 2, 15)
INSERT [dbo].[Quizzes] ([Id], [Code], [Title], [Description], [SubjectId], [FieldId], [DurationMinutes]) VALUES (3, N'QUIZ_KINH_TE', N'Trắc Nghiệm Định Hướng Nghề Kinh Tế', N'Khám phá nghề nghiệp phù hợp với bạn trong lĩnh vực Kinh tế - Tài chính', 1, 3, 15)
SET IDENTITY_INSERT [dbo].[Quizzes] OFF
GO
SET IDENTITY_INSERT [dbo].[RecommendationAnswers] ON 

INSERT [dbo].[RecommendationAnswers] ([Id], [Content], [RecommendationQuestionId]) VALUES (1, N'Thích thiết kế giao diện đẹp, tương tác người dùng', 1)
INSERT [dbo].[RecommendationAnswers] ([Id], [Content], [RecommendationQuestionId]) VALUES (2, N'Thích xử lý logic, thuật toán, database', 1)
INSERT [dbo].[RecommendationAnswers] ([Id], [Content], [RecommendationQuestionId]) VALUES (3, N'Thích cả hai', 1)
SET IDENTITY_INSERT [dbo].[RecommendationAnswers] OFF
GO
SET IDENTITY_INSERT [dbo].[RecommendationQuestions] ON 

INSERT [dbo].[RecommendationQuestions] ([Id], [Content], [QuizId]) VALUES (1, N'Bạn thích làm việc với giao diện người dùng hay xử lý logic phía sau?', 1)
INSERT [dbo].[RecommendationQuestions] ([Id], [Content], [QuizId]) VALUES (2, N'Bạn quan tâm hơn đến dữ liệu và phân tích thống kê?', 1)
INSERT [dbo].[RecommendationQuestions] ([Id], [Content], [QuizId]) VALUES (3, N'Bạn thích làm việc với infrastructure, server và deployment?', 1)
SET IDENTITY_INSERT [dbo].[RecommendationQuestions] OFF
GO
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([Id], [Code], [Name], [Description], [Type]) VALUES (1, N'LAP_TRINH_CO_BAN', N'Lập Trình Cơ Bản', N'Kiến thức lập trình nền tảng, thuật toán cơ bản', N'Core')
INSERT [dbo].[Subjects] ([Id], [Code], [Name], [Description], [Type]) VALUES (2, N'CAU_TRUC_DU_LIEU', N'Cấu Trúc Dữ Liệu & Giải Thuật', N'Data structures, algorithms, complexity analysis', N'Core')
INSERT [dbo].[Subjects] ([Id], [Code], [Name], [Description], [Type]) VALUES (3, N'CO_SO_DU_LIEU', N'Cơ Sở Dữ Liệu', N'SQL, NoSQL, database design, optimization', N'Core')
SET IDENTITY_INSERT [dbo].[Subjects] OFF
GO
SET IDENTITY_INSERT [dbo].[Topics] ON 

INSERT [dbo].[Topics] ([Id], [Name], [Description], [SubjectId], [DifficultyLevel]) VALUES (1, N'Biến & Kiểu Dữ Liệu', N'Hiểu về biến, kiểu dữ liệu cơ bản', 1, 1)
INSERT [dbo].[Topics] ([Id], [Name], [Description], [SubjectId], [DifficultyLevel]) VALUES (2, N'Cấu Trúc Điều Khiển', N'If/else, switch, loops', 1, 1)
INSERT [dbo].[Topics] ([Id], [Name], [Description], [SubjectId], [DifficultyLevel]) VALUES (3, N'Hàm & Procedure', N'Định nghĩa và gọi hàm', 1, 2)
SET IDENTITY_INSERT [dbo].[Topics] OFF
GO
/****** Object:  Index [IX_AnswerCareerWeights_CareerId]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_AnswerCareerWeights_CareerId] ON [dbo].[AnswerCareerWeights]
(
	[CareerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AnswerCareerWeights_RecommendationAnswerId_CareerId]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_AnswerCareerWeights_RecommendationAnswerId_CareerId] ON [dbo].[AnswerCareerWeights]
(
	[RecommendationAnswerId] ASC,
	[CareerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUsers_FieldId]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUsers_FieldId] ON [dbo].[AspNetUsers]
(
	[FieldId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Careers_Code]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Careers_Code] ON [dbo].[Careers]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Careers_FieldId]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_Careers_FieldId] ON [dbo].[Careers]
(
	[FieldId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CareerSubjects_CareerId_SubjectId]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CareerSubjects_CareerId_SubjectId] ON [dbo].[CareerSubjects]
(
	[CareerId] ASC,
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CareerSubjects_SubjectId]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_CareerSubjects_SubjectId] ON [dbo].[CareerSubjects]
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Fields_Code]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Fields_Code] ON [dbo].[Fields]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LearningAnswers_LearningQuestionId]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_LearningAnswers_LearningQuestionId] ON [dbo].[LearningAnswers]
(
	[LearningQuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LearningQuestions_TopicId]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_LearningQuestions_TopicId] ON [dbo].[LearningQuestions]
(
	[TopicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LearningUserAnswers_LearningAnswerId]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_LearningUserAnswers_LearningAnswerId] ON [dbo].[LearningUserAnswers]
(
	[LearningAnswerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LearningUserAnswers_LearningQuestionId]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_LearningUserAnswers_LearningQuestionId] ON [dbo].[LearningUserAnswers]
(
	[LearningQuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LearningUserAnswers_UserId_LearningQuestionId]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_LearningUserAnswers_UserId_LearningQuestionId] ON [dbo].[LearningUserAnswers]
(
	[UserId] ASC,
	[LearningQuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuizCareerRecommendations_CareerId]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_QuizCareerRecommendations_CareerId] ON [dbo].[QuizCareerRecommendations]
(
	[CareerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuizCareerRecommendations_QuizId]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_QuizCareerRecommendations_QuizId] ON [dbo].[QuizCareerRecommendations]
(
	[QuizId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_QuizCareerRecommendations_UserId_CreatedAt]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_QuizCareerRecommendations_UserId_CreatedAt] ON [dbo].[QuizCareerRecommendations]
(
	[UserId] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Quizzes_Code]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Quizzes_Code] ON [dbo].[Quizzes]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Quizzes_FieldId]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_Quizzes_FieldId] ON [dbo].[Quizzes]
(
	[FieldId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Quizzes_SubjectId]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_Quizzes_SubjectId] ON [dbo].[Quizzes]
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RecommendationAnswers_RecommendationQuestionId]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_RecommendationAnswers_RecommendationQuestionId] ON [dbo].[RecommendationAnswers]
(
	[RecommendationQuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RecommendationQuestions_QuizId]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_RecommendationQuestions_QuizId] ON [dbo].[RecommendationQuestions]
(
	[QuizId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RecommendationUserAnswers_QuizId]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_RecommendationUserAnswers_QuizId] ON [dbo].[RecommendationUserAnswers]
(
	[QuizId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RecommendationUserAnswers_RecommendationAnswerId]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_RecommendationUserAnswers_RecommendationAnswerId] ON [dbo].[RecommendationUserAnswers]
(
	[RecommendationAnswerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RecommendationUserAnswers_RecommendationQuestionId]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_RecommendationUserAnswers_RecommendationQuestionId] ON [dbo].[RecommendationUserAnswers]
(
	[RecommendationQuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RecommendationUserAnswers_UserId_QuizId_RecommendationQuestionId]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_RecommendationUserAnswers_UserId_QuizId_RecommendationQuestionId] ON [dbo].[RecommendationUserAnswers]
(
	[UserId] ASC,
	[QuizId] ASC,
	[RecommendationQuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RefreshTokens_Token]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_RefreshTokens_Token] ON [dbo].[RefreshTokens]
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RefreshTokens_UserId]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_RefreshTokens_UserId] ON [dbo].[RefreshTokens]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Subjects_Code]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Subjects_Code] ON [dbo].[Subjects]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Topics_SubjectId]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_Topics_SubjectId] ON [dbo].[Topics]
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserLearningPaths_CareerId]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserLearningPaths_CareerId] ON [dbo].[UserLearningPaths]
(
	[CareerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserLearningPaths_UserId_IsActive]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserLearningPaths_UserId_IsActive] ON [dbo].[UserLearningPaths]
(
	[UserId] ASC,
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserProgresses_TopicId]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserProgresses_TopicId] ON [dbo].[UserProgresses]
(
	[TopicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserProgresses_UserId]    Script Date: 7/10/2026 9:06:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserProgresses_UserId] ON [dbo].[UserProgresses]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AnswerCareerWeights]  WITH CHECK ADD  CONSTRAINT [FK_AnswerCareerWeights_Careers_CareerId] FOREIGN KEY([CareerId])
REFERENCES [dbo].[Careers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AnswerCareerWeights] CHECK CONSTRAINT [FK_AnswerCareerWeights_Careers_CareerId]
GO
ALTER TABLE [dbo].[AnswerCareerWeights]  WITH CHECK ADD  CONSTRAINT [FK_AnswerCareerWeights_RecommendationAnswers_RecommendationAnswerId] FOREIGN KEY([RecommendationAnswerId])
REFERENCES [dbo].[RecommendationAnswers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AnswerCareerWeights] CHECK CONSTRAINT [FK_AnswerCareerWeights_RecommendationAnswers_RecommendationAnswerId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_Fields_FieldId] FOREIGN KEY([FieldId])
REFERENCES [dbo].[Fields] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_Fields_FieldId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Careers]  WITH CHECK ADD  CONSTRAINT [FK_Careers_Fields_FieldId] FOREIGN KEY([FieldId])
REFERENCES [dbo].[Fields] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Careers] CHECK CONSTRAINT [FK_Careers_Fields_FieldId]
GO
ALTER TABLE [dbo].[CareerSubjects]  WITH CHECK ADD  CONSTRAINT [FK_CareerSubjects_Careers_CareerId] FOREIGN KEY([CareerId])
REFERENCES [dbo].[Careers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CareerSubjects] CHECK CONSTRAINT [FK_CareerSubjects_Careers_CareerId]
GO
ALTER TABLE [dbo].[CareerSubjects]  WITH CHECK ADD  CONSTRAINT [FK_CareerSubjects_Subjects_SubjectId] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CareerSubjects] CHECK CONSTRAINT [FK_CareerSubjects_Subjects_SubjectId]
GO
ALTER TABLE [dbo].[LearningAnswers]  WITH CHECK ADD  CONSTRAINT [FK_LearningAnswers_LearningQuestions_LearningQuestionId] FOREIGN KEY([LearningQuestionId])
REFERENCES [dbo].[LearningQuestions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LearningAnswers] CHECK CONSTRAINT [FK_LearningAnswers_LearningQuestions_LearningQuestionId]
GO
ALTER TABLE [dbo].[LearningQuestions]  WITH CHECK ADD  CONSTRAINT [FK_LearningQuestions_Topics_TopicId] FOREIGN KEY([TopicId])
REFERENCES [dbo].[Topics] ([Id])
GO
ALTER TABLE [dbo].[LearningQuestions] CHECK CONSTRAINT [FK_LearningQuestions_Topics_TopicId]
GO
ALTER TABLE [dbo].[LearningUserAnswers]  WITH CHECK ADD  CONSTRAINT [FK_LearningUserAnswers_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LearningUserAnswers] CHECK CONSTRAINT [FK_LearningUserAnswers_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[LearningUserAnswers]  WITH CHECK ADD  CONSTRAINT [FK_LearningUserAnswers_LearningAnswers_LearningAnswerId] FOREIGN KEY([LearningAnswerId])
REFERENCES [dbo].[LearningAnswers] ([Id])
GO
ALTER TABLE [dbo].[LearningUserAnswers] CHECK CONSTRAINT [FK_LearningUserAnswers_LearningAnswers_LearningAnswerId]
GO
ALTER TABLE [dbo].[LearningUserAnswers]  WITH CHECK ADD  CONSTRAINT [FK_LearningUserAnswers_LearningQuestions_LearningQuestionId] FOREIGN KEY([LearningQuestionId])
REFERENCES [dbo].[LearningQuestions] ([Id])
GO
ALTER TABLE [dbo].[LearningUserAnswers] CHECK CONSTRAINT [FK_LearningUserAnswers_LearningQuestions_LearningQuestionId]
GO
ALTER TABLE [dbo].[QuizCareerRecommendations]  WITH CHECK ADD  CONSTRAINT [FK_QuizCareerRecommendations_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuizCareerRecommendations] CHECK CONSTRAINT [FK_QuizCareerRecommendations_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[QuizCareerRecommendations]  WITH CHECK ADD  CONSTRAINT [FK_QuizCareerRecommendations_Careers_CareerId] FOREIGN KEY([CareerId])
REFERENCES [dbo].[Careers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuizCareerRecommendations] CHECK CONSTRAINT [FK_QuizCareerRecommendations_Careers_CareerId]
GO
ALTER TABLE [dbo].[QuizCareerRecommendations]  WITH CHECK ADD  CONSTRAINT [FK_QuizCareerRecommendations_Quizzes_QuizId] FOREIGN KEY([QuizId])
REFERENCES [dbo].[Quizzes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuizCareerRecommendations] CHECK CONSTRAINT [FK_QuizCareerRecommendations_Quizzes_QuizId]
GO
ALTER TABLE [dbo].[Quizzes]  WITH CHECK ADD  CONSTRAINT [FK_Quizzes_Fields_FieldId] FOREIGN KEY([FieldId])
REFERENCES [dbo].[Fields] ([Id])
GO
ALTER TABLE [dbo].[Quizzes] CHECK CONSTRAINT [FK_Quizzes_Fields_FieldId]
GO
ALTER TABLE [dbo].[Quizzes]  WITH CHECK ADD  CONSTRAINT [FK_Quizzes_Subjects_SubjectId] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([Id])
GO
ALTER TABLE [dbo].[Quizzes] CHECK CONSTRAINT [FK_Quizzes_Subjects_SubjectId]
GO
ALTER TABLE [dbo].[RecommendationAnswers]  WITH CHECK ADD  CONSTRAINT [FK_RecommendationAnswers_RecommendationQuestions_RecommendationQuestionId] FOREIGN KEY([RecommendationQuestionId])
REFERENCES [dbo].[RecommendationQuestions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RecommendationAnswers] CHECK CONSTRAINT [FK_RecommendationAnswers_RecommendationQuestions_RecommendationQuestionId]
GO
ALTER TABLE [dbo].[RecommendationQuestions]  WITH CHECK ADD  CONSTRAINT [FK_RecommendationQuestions_Quizzes_QuizId] FOREIGN KEY([QuizId])
REFERENCES [dbo].[Quizzes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RecommendationQuestions] CHECK CONSTRAINT [FK_RecommendationQuestions_Quizzes_QuizId]
GO
ALTER TABLE [dbo].[RecommendationUserAnswers]  WITH CHECK ADD  CONSTRAINT [FK_RecommendationUserAnswers_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RecommendationUserAnswers] CHECK CONSTRAINT [FK_RecommendationUserAnswers_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[RecommendationUserAnswers]  WITH CHECK ADD  CONSTRAINT [FK_RecommendationUserAnswers_Quizzes_QuizId] FOREIGN KEY([QuizId])
REFERENCES [dbo].[Quizzes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RecommendationUserAnswers] CHECK CONSTRAINT [FK_RecommendationUserAnswers_Quizzes_QuizId]
GO
ALTER TABLE [dbo].[RecommendationUserAnswers]  WITH CHECK ADD  CONSTRAINT [FK_RecommendationUserAnswers_RecommendationAnswers_RecommendationAnswerId] FOREIGN KEY([RecommendationAnswerId])
REFERENCES [dbo].[RecommendationAnswers] ([Id])
GO
ALTER TABLE [dbo].[RecommendationUserAnswers] CHECK CONSTRAINT [FK_RecommendationUserAnswers_RecommendationAnswers_RecommendationAnswerId]
GO
ALTER TABLE [dbo].[RecommendationUserAnswers]  WITH CHECK ADD  CONSTRAINT [FK_RecommendationUserAnswers_RecommendationQuestions_RecommendationQuestionId] FOREIGN KEY([RecommendationQuestionId])
REFERENCES [dbo].[RecommendationQuestions] ([Id])
GO
ALTER TABLE [dbo].[RecommendationUserAnswers] CHECK CONSTRAINT [FK_RecommendationUserAnswers_RecommendationQuestions_RecommendationQuestionId]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Topics]  WITH CHECK ADD  CONSTRAINT [FK_Topics_Subjects_SubjectId] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Topics] CHECK CONSTRAINT [FK_Topics_Subjects_SubjectId]
GO
ALTER TABLE [dbo].[UserLearningPaths]  WITH CHECK ADD  CONSTRAINT [FK_UserLearningPaths_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserLearningPaths] CHECK CONSTRAINT [FK_UserLearningPaths_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[UserLearningPaths]  WITH CHECK ADD  CONSTRAINT [FK_UserLearningPaths_Careers_CareerId] FOREIGN KEY([CareerId])
REFERENCES [dbo].[Careers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserLearningPaths] CHECK CONSTRAINT [FK_UserLearningPaths_Careers_CareerId]
GO
ALTER TABLE [dbo].[UserProgresses]  WITH CHECK ADD  CONSTRAINT [FK_UserProgresses_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserProgresses] CHECK CONSTRAINT [FK_UserProgresses_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[UserProgresses]  WITH CHECK ADD  CONSTRAINT [FK_UserProgresses_Topics_TopicId] FOREIGN KEY([TopicId])
REFERENCES [dbo].[Topics] ([Id])
GO
ALTER TABLE [dbo].[UserProgresses] CHECK CONSTRAINT [FK_UserProgresses_Topics_TopicId]
GO
USE [master]
GO

Select * from Fields
Select * from Quizzes
Select * From RecommendationQuestions
Select * From RecommendationAnswers

Select f.code , Q.Code , Rq.Content , Ra.Content from Quizzes Q
join Fields f on f.Id=Q.FieldId
join RecommendationQuestions Rq on Rq.QuizId=Q.Id
Join RecommendationAnswers Ra on Ra.RecommendationQuestionId=Rq.Id
Where f.Code like 'CNTT'

Select q.Code, rq.Content, ra.Content From Quizzes q
Join RecommendationQuestions rq on rq.QuizId=q.Id
join RecommendationAnswers ra on ra.RecommendationQuestionId=rq.Id
Where Q.FieldId=1

select * from Careers
Select * From AnswerCareerWeights
Select * From RecommendationAnswers

Select a.Content,c.Name,an.weight
From RecommendationAnswers a 
join AnswerCareerWeights an on an.RecommendationAnswerId=a.Id
join Careers c on c.Id=an.CareerId
 -- cần tính điểm tổng của Career cụ thể dựa vào Answer ( miễn là có đáp án về User đó thì mình lấy 
 Select c.Name,Sum(Weight) as TongDiem
 From AnswerCareerWeights a
 join Careers c on c.Id=a.careerId
 Where a.CareerId=1 
 Group by c.Name

SELECT Email, UserName, FullName,UserType,MainGoal,IsOnboardingCompleted FROM AspNetUsers
Select *  FROM AspNetUsers
 
  -- flow Recommendation Career 
  Select q.Code,rq.Content,ra.Content From Quizzes q
  Join RecommendationQuestions  rq on rq.QuizId=q.Id
  join RecommendationAnswers ra on ra.RecommendationQuestionId=rq.Id
  where q.Id= 1 

 -- Tinh tong diem cho moi nghanh nghe 
 -- lay dap an user chon  + bang do diem theo answer + sum diem each career 
 SELECT *
 FROM RecommendationAnswers ra 
 join AnswerCareerWeights acw on acw.RecommendationAnswerId=ra.Id
 join RecommendationQuestions rq on rq.Id=ra.RecommendationQuestionId
 where rq.QuizId=1 

